﻿@{
	ViewBag.Title = "User Administration";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{																	
	<script type="text/javascript" src="~/Scripts/app/services/trackService.js"></script>		  
	<script type="text/javascript" src="~/Scripts/app/services/userService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/services/constantsService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/userGridViewController.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/userController.js"></script>
}
<!-- Breadcrumb -->
<div class="page-title">
	<div class="row">
		<div class="col s12 m9 l10">
			<h1>User Admin
			</h1>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<div data-ng-controller="UserController as user" data-ng-init="user.init()">
	<button class="btn" style="margin-bottom: 10px;" data-toggle="modal" data-target="#addUserModal" data-ng-click="user.showlpgaModal(addUserForm)">Add User</button>
	<div class="card-panel">
		<div style="margin-bottom: 80px;">
			<div data-ng-include="'Scripts/views/viewUser.html'"></div>
		</div>
		<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="addUserForm" name="addUserForm" novalidate data-ng-submit="user.addUser(addUserForm)">
						<div class="modal-header">
							<div class="bootstrap-dialog-header">
								<div class="bootstrap-dialog-close-button" style="display: block;">
									<button class="close" data-dismiss="modal" aria-label="Close">×</button>
								</div>
								<div class="bootstrap-dialog-title">User Details</div>
							</div>
						</div>
						<div class="modal-body">
							<div data-ng-show="user.modalAddUserAlert" class="alert" data-ng-class="user.alertModalClass">
								@*<button class="close" data-ng-click="user.switchBool('modalAddUserAlert')">× </button>*@
								<input type="button" class="close" data-ng-click="user.switchBool('modalAddUserAlert')" value="×" />
								{{user.AddUserMessage}}
							</div>
							<div data-ng-show="addUserForm.$submitted && !addUserForm.$valid" class="alert alert-warning">
								Please fill the required fields
							</div>
							<!-- User add form goes here-->
							<div class="row">
								<div class="col m6 s12">
									<div class="input-field">
										<i class="fa fa-user prefix"></i>
										<input id="input_fname" type="text" data-ng-model="user.firstName" required name="firstname" placeholder="First Name">
									</div>
								</div>
								<div class="col m6 s12">
									<div class="input-field">
										<i class="fa fa-user prefix"></i>
										<input id="input_lname" type="text" data-ng-model="user.lastName" required name="lastname" placeholder="Last Name">
									</div>
								</div>
							</div>

							<div class="input-field">
								<i class="fa fa-envelope prefix"></i>
								<input id="input_email" type="email" data-ng-model="user.email" required name="email" placeholder="Email">
							</div>

							<div class="input-field">
								<i class="fa fa-user prefix"></i>
								<input id="input_username" type="text" data-ng-model="user.userName" required name="username" placeholder="Username">
							</div>

							<div class="input-field">
								<i class="fa fa-unlock-alt prefix"></i>
								<input id="input_password" type="password" data-ng-model="user.password" required name="password" placeholder="Password">
							</div>
							<div class="input-field">
								<select name="gender" data-ng-model="user.gender" required>
									<option value="null" disabled selected="selected">Select Gender</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select> 								
								<select style="margin-left: 25px;" data-ng-model="user.role"  data-ng-change="user.onRoleChange()" required 
									data-ng-options="role.key as role.value for role in user.roles">
									<option disabled value="">Select Role</option>
								</select>
								@*<select name="Role" style="margin-left: 25px;" data-ng-model="user.role" data-ng-change="user.onRoleChange()" required>
									<option value="null" disabled selected="selected">Select Role</option>
									<option value="admin">Admin</option> 
									<option value="user">User</option>
									<option value="evaluator">Evaluator</option>
									<option value="coordinator">Coordinator</option>
									<option value="candidate">Candidate</option>
								</select>*@
								<select data-ng-show="user.showTrack" style="margin-left: 25px;" data-ng-model="user.track" data-ng-options="track.trackId as track.trackName for track in user.tracks">
									<option disabled value="">Select Track</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<input type="submit" class="btn btn-primary" value="Add User" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="editUserForm" name="editUserForm" novalidate data-ng-submit="user.updateUser(editUserForm)">
						<div class="modal-header">
							<div class="bootstrap-dialog-header">
								<div class="bootstrap-dialog-close-button" style="display: block;">
									<button class="close" data-dismiss="modal" aria-label="Close">×</button>
								</div>
								<div class="bootstrap-dialog-title">User Details of <span class="user-title">{{user.editUserName}}</span></div>
							</div>
						</div>
						<div class="modal-body">
							<div data-ng-show="user.modalEditUserAlert" class="alert" data-ng-class="user.alertModalClass">
								@*<button class="close" data-ng-click="user.switchBool('modalEditUserAlert')">×</button>*@
								<input type="button" class="close" data-ng-click="user.switchBool('modalEditUserAlert')" value="×" />
								{{user.EditUserMessage}}
							</div>
							<div data-ng-show="editUserForm.$submitted && !editUserForm.$valid" class="alert alert-warning">
								Please fill the required fields
							</div>
							<!-- User add form goes here-->
							<div class="row">
								<div class="col m6 s12">
									<div class="input-field">
										<i class="fa fa-user prefix"></i>
										<input type="text" data-ng-model="user.firstNameEdit" required name="firstname" placeholder="First Name">
									</div>
								</div>
								<div class="col m6 s12">
									<div class="input-field">
										<i class="fa fa-user prefix"></i>
										<input type="text" data-ng-model="user.lastNameEdit" required name="lastname" placeholder="Last Name">
									</div>
								</div>
							</div>

							<div class="input-field">
								<i class="fa fa-envelope prefix"></i>
								<input type="email" data-ng-model="user.emailEdit" name="email" required placeholder="Email">
							</div>

							<div class="input-field">
								<i class="fa fa-user prefix"></i>
								<input type="text" data-ng-model="user.userNameEdit" name="username" disabled placeholder="Username">
							</div>

							<div class="input-field">
								<select name="gender" data-ng-model="user.genderEdit" required>
									<option value="null" disabled selected>Gender</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>

								<select data-ng-show="user.showTrack" style="margin-left: 25px;" data-ng-model="user.trackEdit" data-ng-options="track.trackId as track.trackName for track in user.tracks">
									<option disabled value="">Select Track</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<input type="submit" class="btn btn-primary" value="Update User" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>