﻿@model TeamOnBoarding.Models.CourseModel
@{
	ViewBag.Title = "Index";
}

@section scripts{
	<script type="text/javascript" src="~/Scripts/ckeditor.js"></script>  
	<script type="text/javascript" src="~/Scripts/app/services/assessmentService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/assessmentController.js"></script>
}
<!-- Breadcrumb -->
<div class="page-title">
	<div class="row">
		<div class="col s12 m9 l10">
			<h1>
				@Model.CourseName
			</h1>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<div data-ng-controller="AssessmentController as assessment" data-ng-init="assessment.init(@Model.CourseId)">
	<input type="hidden" data-ng-init="assessment.courseId = @Model.CourseId" data-ng-model="assessment.courseId" />
	<div style="height: 50px;">
		<button class="btn" data-toggle="modal" data-target="#questionModal" data-ng-click="assessment.showQuestionModal(questionForm)">Add Question</button>
	</div>
	<div class="card-panel">
		<div data-ng-show="assessment.QuestionEmpty" class="center-light-font">No question exists.</div>
		<div class="question-panel" data-ng-repeat="question in assessment.questions">
			<div class="question-details">
				<div class="question-description">
					<input type="hidden" value="{{question.QuestionId}}" class="question-id" />
					<input type="hidden" value="{{question.QuestionTime}}" class="question-time" />
					<input type="hidden" value="{{question.QuestionType}}" class="question-type" />
					<span class="questiontitle" data-ng-bind-html="question.QuestionTitle"></span><span style="font-weight: normal; padding-left: 10px; color: rgb(124, 158, 197);">({{question.QuestionTime}} seconds)</span>
				</div>
				<div class="question-option">
					<div data-ng-if="question.Options.length == 0">
						<input type="text" class="text" disabled tabindex="-1">
					</div>
					<div data-ng-if="question.Options.length > 0">
						<div class="question-detail-option" data-ng-repeat="option in question.Options">
							<input type="radio" disabled />
							{{option.OptionTitle}}
                            <input type="hidden" class="option-id" value="{{option.OptionId}}" />
						</div>
					</div>
				</div>
			</div>
			<div class="question-panel-button">
				<div class="side-btn" data-ng-click="assessment.deleteQuestion($event, question.QuestionId)" title="delete question"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
				<div class="side-btn" data-toggle="modal" data-target="#questionModal" data-ng-click="assessment.ShowQuestionModalForEdit($event, questionForm)" title="edit question">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="saveQuestionModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 800px;">
			<div class="modal-content question-container">
				<form id="questionForm" name="questionForm" novalidate data-ng-submit="assessment.saveQuestion(questionForm)">
					<div class="modal-header">
						<div class="bootstrap-dialog-header">
							<div class="bootstrap-dialog-close-button" style="display: block;">
								<div class="close" data-dismiss="modal" aria-label="Close">×</div>
							</div>
							<div class="bootstrap-dialog-title">Question Details</div>
						</div>
					</div>
					<div class="modal-body">
						@*<data-ng-messages for="questionForm.questionTitle.$error">
                          <data-ng-message when="required">email is required</data-ng-message>
                          <data-ng-message when="email">email is not valid</data-ng-message>
                          <data-ng-message when="pattern">...</data-ng-message>
                          <data-ng-message when="validator4">...</data-ng-message>
                          <data-ng-message when="validator5">...</data-ng-message>
                        </data-ng-messages>*@
						@*<p data-ng-if="questionForm.questionTitle.$error.email">
                            Please enter a valid email
                        </p>*@
						<div data-ng-show="assessment.modalAlert" class="alert" data-ng-class="assessment.alertModalClass">
							<div class="close" data-ng-click="assessment.switchBool('modalAlert')">×</div>
							{{assessment.questionMessage}}
						</div>
						<div data-ng-show="questionForm.$submitted && !questionForm.$valid" class="alert alert-warning">
							Please fill the required fields
						</div>
						<!-- question panel-->
						<div class="input-field">
							@*<i class="glyphicon glyphicon-question-sign prefix"></i>*@
							<div>
								<div class="question-title">Question Title </div>
								<div class="questionTitle">
									<textarea class="question-text ckeditor" data-ng-model="assessment.questionTitle" name="questionTitle" placeholder="Untitled question"></textarea>
								</div>
							</div>
							<script type="text/javascript">
								CKEDITOR.inline('questionTitle');
							</script>
							<div>
								<div class="question-title">Question Type</div>
								<div style="float: left; width: 35%;">
									<select class="question-type" style="width: 80%;" required data-ng-change="assessment.questionTypeChange()" name="questionType" data-ng-model="assessment.questionType">
										<option value="multiplechoice">Multiple choice</option>
										<option value="text">Text</option>
									</select>
								</div>
								<div class="question-title">Question Time</div>
								<div style="width: 35%; float: left;">
									<input type="text" style="width: 45%;" placeholder="time in seconds" required class="question-time" data-ng-model="assessment.questionTime" />
								</div>
							</div>
						</div>
						<div data-ng-show="assessment.questionType == 'text'" style="width: 85%; margin: 55px 0 0 100px; padding: 16px 10px;" class="">
							<span style="padding: 7px 50px 7px 8px; text-align: left; background-color: #ECECEC; border: 1px dashed gray;">Their answer</span>
						</div>
						<div data-ng-show="assessment.questionType == 'multiplechoice'" style="margin-top: 65px; margin-left: 10px;">
							<div style="width: 85%; margin: 9px 0 0 100px;" data-ng-repeat="option in assessment.options">
								<input class="option-text" type="text" style="width: 50%;" data-ng-model="assessment.options[$index].name" placeholder="Untitled option" />
								<div class="glyphicon glyphicon-remove-circle option-remove" aria-hidden="true" data-ng-click="assessment.removeOption(option.value)"></div>
							</div>
							<div style="margin: 12px 0 0 100px;">
								<a data-ng-click="assessment.addNewOption()">Click to add option</a>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" value="Save Question" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@*placeholder="Click to add option"*@