﻿@model TeamOnBoarding.Models.LoginModel
@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section id="sign-in">
	@using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
 {
		@Html.AntiForgeryToken()
		<div class="page-icon-shadow animated bounceInDown"></div>
		<div class="login-container">

			<div class="page-icon">
				<i class="glyphicon glyphicon-user" style="padding-top: 28px;"></i>
			</div>
			<div class="login-logo">
				@*<a href="#?login-theme-3">
                    <img src="img/login-logo.png" alt="Company Logo"></a>*@
				Concourse
			</div>
			<hr />

			@Html.ValidationSummary(true)
			<div class="card-panel" style="background-color: #3498db;">
				<div class="input-field">
					@*<i class="fa fa-user prefix"></i>*@
					@Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "validate" })
					<div>
						@Html.ValidationMessageFor(m => m.UserName)
					</div>
				</div>
				<div class="input-field">
					@*<i class="fa fa-unlock-alt prefix"></i>*@
					@Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "validate" })
					<div>
						@Html.ValidationMessageFor(m => m.Password)
					</div>
				</div>
				<div class="input-field" style="margin: 0 auto;">
					<input type="submit" value="Log in" class="btn-login">
				</div>
			</div>

			<div class="login-links">
				<a href="#">Forgot password?
				</a>
			</div>
			@*            <div class="links right-align" style="margin-top: 10px;">
                <a href="#">Forgot Password?</a>
            </div>*@
		</div>
 }
</section>