﻿@{
	ViewBag.Title = "Track Administration";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
	<script type="text/javascript" src="~/Scripts/ckeditor.js"></script>
	<script type="text/javascript" src="~/Scripts/app/services/trackService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/trackController.js"></script>
}

<!-- Breadcrumb -->
<div class="page-title">
	<div class="row">
		<div class="col s12 m9 l10">
			<h1>Track Admin
			</h1>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<div data-ng-controller="TrackController as track" data-ng-init="track.init()">
	<div class="row">
		<div class="col s12 l2">
			<div class="heading-track">
				Track
			</div>
		</div>
		<div class="col s12 l2">
			<div class="heading-track">
				Course
			</div>
		</div>
		<div class="col s12 l8">
			<div class="heading-track">
				Content
			</div>
		</div>
		<!---->

		<div class="col s12 l2">
			<div class="card-panel">
				<button class="btn" style="margin-bottom: 10px; width: 100%;" data-toggle="modal" data-target="#addTrackModal" data-ng-click="track.showTrackModal(addTrackForm)">Add Track</button>
				<ul class="track">
					<li data-ng-repeat="tracks in track.tracks" data-ng-click="track.showCourses(tracks.trackId)" data-ng-class="{active : track.isTrackSelected(tracks)}">
						<a>{{tracks.trackName}}</a>
						<div class="delete_icon" data-ng-click="track.deleteTrack(tracks.trackId)" title="delete track">
							<i class="mdi-action-delete"></i>
						</div>
						<div class="edit_icon" data-ng-click="track.showEditModalTrack(tracks.trackName,tracks.trackId)" data-toggle="modal" data-target="#addTrackModal" title="edit track">
							<i class="mdi-image-edit"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col s12 l2">
			<div class="card-panel">
				<div data-ng-hide="track.showCourse" class="pre-selection">Select a track</div>
				<div data-ng-show="track.showCourse">
					<button class="btn" style="margin-bottom: 10px; width: 100%;" data-toggle="modal" data-target="#addCourseModal" data-ng-click="track.showCourseModal(addCourseForm)">Add Course</button>
					<div data-ng-show="track.CourseEmpty" class="center-light-font">No course exists.</div>
					<ul class="track">
						<li data-ng-repeat="course in track.courses" data-ng-click="track.getContent(course.courseId)" data-ng-class="{active : track.isCourseSelected(course)}">
							<a>{{course.courseName}}</a>
							<input type="hidden" value="{{course.courseType}}" />
							<div class="delete_icon" data-ng-click="track.deleteCourse(course.courseId)" title="delete course">
								<i class="mdi-action-delete"></i>
							</div>
							<div class="edit_icon" data-ng-click="track.showEditModalCourse(course.courseName, course.courseId, course.courseType)" title="edit course" data-toggle="modal" data-target="#addCourseModal">
								<i class="mdi-image-edit"></i>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col s12 l8">
			<div class="card-panel">
				<div data-ng-hide="track.courseSelected" class="pre-selection">Select a course</div>
				<div data-ng-show="track.courseSelected">
					<textarea class="ckeditor" data-ng-model="track.content" cols="80" id="editor" name="editor" rows="10">
                    </textarea>
					@*<div data-ng-bind-html="content">
                    </div>*@
					<div style="border-top: 1px solid #d4d4d4; padding: 13px 0 0;">
						<button class="btn" data-ng-hide="contentAvailable" style="margin-bottom: 10px; width: auto;" data-ng-click="track.updateContent()">Update Content</button>
					</div>
				</div>
				<script type="text/javascript">
					CKEDITOR.basePath = "/Scripts/"
					CKEDITOR.inline('editor');
				</script>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addTrackModal" tabindex="-1" role="dialog" aria-labelledby="addTrackModalLabel" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="addTrackForm" name="addTrackForm" novalidate data-ng-submit="track.addTrack(addTrackForm)">
					<div class="modal-header">
						<div class="bootstrap-dialog-header">
							<div class="bootstrap-dialog-close-button" style="display: block;">
								<button class="close" data-dismiss="modal" aria-label="Close">×</button>
							</div>
							<div class="bootstrap-dialog-title">Track Details</div>
						</div>
					</div>
					<div class="modal-body">
						<div data-ng-show="track.modalTrackAlert" class="alert" data-ng-class="track.alertModalClass">
							<input type="button" class="close" data-ng-click="track.switchBool('modalTrackAlert')" value="×" />
							@*<button class="close" data-ng-click="track.switchBool('modalTrackAlert')">×</button>*@
							{{track.trackMessage}}
						</div>
						<div data-ng-show="addTrackForm.$submitted && !addTrackForm.$valid" class="alert alert-warning">
							Please fill the required fields
						</div>
						<!-- User add form goes here-->
						<div class="input-field">
							<i class="fa mdi-device-multitrack-audio prefix"></i>
							<input type="text" data-ng-model="track.trackName" required name="track-name" placeholder="Track name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" data-ng-show="track.isAddTrack" value="Add track" />
						<input type="button" class="btn btn-primary" data-ng-hide="track.isAddTrack" data-ng-click="track.updateTrack(addTrackForm)" value="Update track" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="addCourseForm" name="addCourseForm" novalidate data-ng-submit="track.addCourse(addCourseForm)">
					<div class="modal-header">
						<div class="bootstrap-dialog-header">
							<div class="bootstrap-dialog-close-button" style="display: block;">
								<button class="close" data-dismiss="modal" aria-label="Close">×</button>
							</div>
							<div class="bootstrap-dialog-title">Course Details</div>
						</div>
					</div>
					<div class="modal-body">
						<div data-ng-show="track.modalCourseAlert" class="alert" data-ng-class="track.alertModalClass">
							@*<button class="close" data-ng-click="track.switchBool('modalCourseAlert')">×</button>*@
							<input type="button" class="close" data-ng-click="track.switchBool('modalCourseAlert')" value="×" />
							{{track.courseMessage}}
						</div>
						<div data-ng-show="addCourseForm.$submitted && !addCourseForm.$valid" class="alert alert-warning">
							Please fill the required fields
						</div>
						<div class="input-field">
							<i class="fa mdi-device-multitrack-audio prefix"></i>
							<input type="text" data-ng-model="track.courseName" required name="course-name" placeholder="Course name">
						</div>
						@*<div class="input-field">
							<i class="fa mdi-device-multitrack-audio prefix"></i>
							<select required data-ng-options="courseType.courseTypeId as courseType.courseTypeName for courseType in courseTypes" data-ng-model="track.courseType">
								<option value="">Select Course Type...</option>
							</select>
						</div>*@
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" data-ng-show="track.isAddCourse" value="Add Course" />
						<input type="button" class="btn btn-primary" data-ng-hide="track.isAddCourse" data-ng-click="track.updateCourse(addCourseForm)" value="Update Course" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>