﻿@model TeamOnBoarding.Models.UserCourseModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{													
	<script type="text/javascript" src="~/Scripts/app/services/trackService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/userCourseController.js"></script>
}
<!-- Breadcrumb -->
<div class="page-title">
	<div class="row">
		<div class="col s12 m9 l10">
			<h1>
				@Model.CourseName
			</h1>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
<div>
	<div data-ng-controller="UserCourseController as userCourseController" data-ng-init="userCourseController.init(@Model.CourseId)">
		<div class="card-panel">
			<div data-ng-bind-html="userCourseController.content" class="course-content">
			</div>
		</div>
	</div>
</div>
