﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/ckeditor.js"></script>
    <script type="text/javascript" src="~/Scripts/app/controllers/homeController.js"></script>
}
<!-- Breadcrumb -->
<div class="page-title">
    <div class="row">
        <div class="col s12 m9 l10">
            <h1>
                Home
            </h1>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<div id="homeApp">
    <div data-ng-controller="HomeController as homeController">

        <div class="card-panel">
            <div data-ng-bind-html="content" class="course-content">
            </div>
        </div>
    </div>
</div>