﻿@model TeamOnBoarding.Models.HomeLayoutModel
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="~/Content/nanoScroller/nanoscroller.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/material-design-icons/css/material-design-icons.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/site.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/ng-grid.min.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	@Styles.Render("~/Content/css")
	<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular/angular.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular/angular-messages.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular/ng-grid.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.requestAnimationFrame.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.nanoscroller.min.js"></script>
	<script type="text/javascript" src="~/Scripts/materialize.min.js"></script>
	<script type="text/javascript" src="~/Scripts/Sortable.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>	
	<script type="text/javascript" src="~/Scripts/app/layout-app.js"></script>
	<script type="text/javascript" src="~/Scripts/app/services/baseService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/menuController.js"></script>
	@Scripts.Render("~/bundles/site")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("scripts", required: false)
	@*<base href="http://localhost:50747/"/>*@
</head>
<body data-ng-app="BaseModule">
	<header>
		<nav class="navbar-top navbar-dark">
			<div class="nav-wrapper">
				<!-- Logo -->
				<a href="#!" class="brand-logo">Concourse
				</a>
				<!-- /Logo -->
				<!-- Menu -->
				<ul>
					<li class="user">
						<a class="dropdown-button" href="#!" data-activates="user-dropdown">
							<img src="~/Images/user.jpg" class="circle">@Model.FirstName @Model.LastName<i class="mdi-navigation-expand-more right"></i>
						</a>
					</li>
				</ul>
				<!-- /Menu -->
			</div>
		</nav>
	</header>
	<!--side nav bar starts-->
	<aside class="yaybar yay-shrink yay-gestures">
		<div class="nano-content" data-ng-controller="MenuController as menu">
			<ul class="gw-nav gw-nav-list">
				<li class="label">Navigation</li>
				@if (Model.Role == "admin")
				{
					<li class="init-arrow-down inner1"><a href="javascript:void(0)"><span class="gw-menu-text">Admin</span> <b class="gw-arrow"></b></a>
						<ul class="gw-submenu">
							<li class="inner2" id="User">@Html.ActionLink("User", "Index", "User") </li>
							<li class="inner2" id="Track">@Html.ActionLink("Track", "Index", "Track") </li>
						</ul>
					</li>
				    <li class="init-arrow-down inner1"><a href="javascript:void(0)"><span class="gw-menu-text">Assessment</span> <b class="gw-arrow"></b></a>
				        <ul class="gw-submenu">
				            @foreach (var trackCourse in Model.TrackWithCourseDetails)
				            {
				                <li class="init-arrow-down inner2"><a href="javascript:void(0)"><span class="gw-menu-text">@trackCourse.TrackName</span> <b class="gw-arrow  icon-arrow-up8"></b></a>
				                    <ul>
				                        @foreach (var course in trackCourse.Courses)
				                        {
				                            <li id="AssessmentCourse-@course.CourseId">@Html.ActionLink(course.CourseName, "Index", "Assessment", new {courseId = course.CourseId}, null)</li>
				                        }
				                    </ul>
				                </li>
				            }
				        </ul>
				    </li>
                    <li class="init-arrow-down"><a href="javascript:void(0)"><span class="gw-menu-text">Evaluate User</span> <b class="gw-arrow"></b></a>
						<ul class="gw-submenu">
							@foreach (var user in Model.EvaluationList)
							{
								<li id="AssessmentCourse-@user.UserId">@Html.ActionLink(user.UserName, "Index", "Evaluate", new { user = user.UserId }, null)</li>
							}
						</ul>
					</li>
				}
				@if (Model.Role == "user")
				{
					<li class="init-arrow-down inner1"><a href="javascript:void(0)"><span class="gw-menu-text">My Courses</span> <b class="gw-arrow icon-arrow-up8"></b></a>
						<ul class="gw-submenu inner2">
							@foreach (var trackCourse in Model.TrackWithCourseDetails)
							{
								<li class="init-arrow-down inner2"><a href="javascript:void(0)"><span class="gw-menu-text">@trackCourse.TrackName</span> <b class="gw-arrow  icon-arrow-up8"></b></a>
									<ul>
										@foreach (var course in trackCourse.Courses)
										{
											<li id="UserCourseCourse-@course.CourseId">
												@Html.ActionLink(course.CourseName, "index", "UserCourse", new { courseId = course.CourseId }, null)
												@*<a href="#" data-ng-click="showCourseContent(@course.CourseId, '@course.CourseName')">@course.CourseName</a>*@
											</li>
										}
									</ul>
								</li>
							}
						</ul>
					</li>
					<li class="init-arrow-down inner1"><a href="javascript:void(0)"><span class="gw-menu-text">My Assessment</span> <b class="gw-arrow icon-arrow-up8"></b></a>
						<ul class="gw-submenu inner2">
							@foreach (var trackCourse in Model.TrackWithCourseDetails)
							{
								<li class="init-arrow-down inner2"><a href="javascript:void(0)"><span class="gw-menu-text">@trackCourse.TrackName</span> <b class="gw-arrow  icon-arrow-up8"></b></a>
									<ul>
										@foreach (var course in trackCourse.Courses)
										{
											<li id="UserAssessmentCourse-@course.CourseId">
												@Html.ActionLink(course.CourseName, "index", "UserAssessment", new { courseId = course.CourseId }, null)
												@*<a href="#" data-ng-click="showCourseContent(@course.CourseId, '@course.CourseName')">@course.CourseName</a>*@
											</li>
										}
									</ul>
								</li>
							}
						</ul>
					</li>
				}
			</ul>
		</div>
	</aside>
	<!--side nav bar ends-->

	<section class="content-wrap content-wrapper main-content clear-fix">
		@RenderBody()
	</section>
	<ul id="user-dropdown" class="dropdown-content">
		<li><a href="#"><i class="fa fa-user"></i>Profile</a>
		</li>
		<li class="divider"></li>
		<li><a href="/Login/LogOut"><i class="fa fa-sign-out"></i>Logout</a>
		</li>
	</ul>
	<footer>&copy; 2015 <strong>Team on-boarding</strong>. All rights reserved.</footer>
</body>
</html>