﻿html
{
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0,0,0,.65);
    -webkit-font-smoothing: antialiased;
}

body
{
    position: relative;
    margin: 0;
    /*font-family: 'Roboto Condensed', sans-serif !important;*/
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400;
    min-height: 100%;
}

label
{
    font-weight: normal !important;
}

a
{
    text-decoration: none;
    background-color: transparent;
}

ul
{
    list-style-type: none;
    padding: 0;
}

    ul li
    {
        list-style-type: none;
    }

.row .col.s12
{
    width: 100%;
    margin-left: 0;
}

@media (min-width: 993px)
{
    .row .col.l8
    {
        width: 66.66667%;
        margin-left: 0;
    }

    .row .col.l10
    {
        width: 83.33333%;
        margin-left: 0;
    }

    .row .col.l6
    {
        width: 50%;
        margin-left: 0;
    }

    .row .col.l2
    {
        width: 16.66667%;
        margin-left: 0;
    }
}

@media (min-width: 601px)
{
    .row .col.m6
    {
        width: 50%;
        margin-left: 0;
    }
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea.materialize-textarea
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 13px;
    margin: 0 0 15px;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: .3s border-bottom,.3s box-shadow;
    -moz-transition: .3s border-bottom,.3s box-shadow;
    -o-transition: .3s border-bottom,.3s box-shadow;
    transition: .3s border-bottom,.3s box-shadow;
}

    input[type=date]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus.materialize-textarea
    {
        border-bottom: 1px solid #42A5F5;
        -moz-box-shadow: 0 1px 0 0 #42A5F5;
        -webkit-box-shadow: 0 1px 0 0 #42A5F5;
        box-shadow: 0 1px 0 0 #42A5F5;
    }

*, :after, :before
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[type=checkbox]:checked, [type=checkbox]:not(:checked)
{
    /*position: absolute;
    opacity: 0;
    visibility: hidden;*/
}

input[type=checkbox], input[type=radio]
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

footer
{
    position: relative;
    padding: 1.3rem;
    border-top: 1px solid #DEE1EC;
    background: #fff;
    height: 55px;
}

select
{
    border-bottom: 1px solid #888888 !important;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: rgb(94, 94, 94) !important;
    padding: 5px;
}

    select:focus
    {
        border-bottom: 2px solid #42A5F5 !important;
        outline: none;
    }

a:focus, a:hover
{
    cursor: pointer;
}