﻿@model TeamOnBoarding.Models.UserAssessmentModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{																	   
	<script type="text/javascript" src="~/Scripts/app/services/userAssessmentService.js"></script>
	<script type="text/javascript" src="~/Scripts/app/controllers/userAssessmentController.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.countdown.js"></script>
	<script type="text/javascript">
		window.onbeforeunload = function (event) {
			var message = 'Sure you want to leave?';
			if (typeof event == 'undefined') {
				event = window.event;
			}
			if (event) {
				event.returnValue = message;
			}
			return message;
		}
	</script>
}
<!-- Breadcrumb -->
<div class="page-title">
	<div class="row">
		<div class="col s12 m9 l10">
			<h1>Assessment for <span class="coursename">@Model.CourseName</span>
			</h1>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->
@{
	var minute = 0;
	var second = 0;
	var totalTime = "";
	if (Model.UserAssessmentStatus == "NotStarted")
	{
		minute = Model.TotalTime.Minute;
		second = Model.TotalTime.Seconds;

		if (Model.TotalTime.Minute > 0)
		{
			totalTime = Model.TotalTime.Minute.ToString() + " minutes";
		}
		if (Model.TotalTime.Seconds > 0)
		{
			totalTime = totalTime + " " + Model.TotalTime.Seconds.ToString() + " seconds";
		}
	}

}
<div data-ng-controller="UserAssessmentController" data-ng-init="init( @Model.QuestionCount, @minute, @second, '@Model.UserAssessmentStatus')">
	<input type="hidden" data-ng-init="courseId = @Model.CourseId" data-ng-model="courseId" />
	<div class="card-panel" style="margin: 0 auto; width: 50%;">
		<div data-ng-if="QuestionEmpty && userAssessmentStatus == 'NotStarted'" class="center-light-font">No question exists.</div>
		<div data-ng-if="userAssessmentStatus == 'NotStarted'">
			<div data-ng-hide="QuestionEmpty || assessmentSubmitted" class="quiz-intro-container" style="text-align: center;">
				<div style="font-size: 25px;">Welcome to your <span class="coursename">@Model.CourseName</span> test!</div>
				<div class="description">
					<div>Your test consists of <span class="time">@Model.QuestionCount </span>questions.</div>
					<div>You have <span class="time">@totalTime</span> to complete the test.</div>
					<div>The test will be automatically submitted once the time runs out.</div>
					<div>Answer all the questions. This test can be attempted only once.</div>
					<div>Good luck!</div>
				</div>
				<button class="btn" data-ng-click="showQuestionModal()">
					<span class="glyphicon glyphicon-arrow-right start-icon" aria-hidden="true"></span>Start Test</button>
			</div>
			<div data-ng-show="assessmentSubmitted && !assessmentSubmittedWithErrors" class="quiz-intro-container" style="text-align: center;">
				<div style="font-size: 25px;">
					<div style="width: 100%; text-align: center; float: left;">
						<div class="glyphicon glyphicon-ok-sign submission-successful" aria-hidden="true">
						</div>
						<span style="margin-top: 10px; color: rgb(156, 209, 11);">Congratulation!</span>
					</div>
					<div style="float: left; padding-top: 20px; width: 100%; font-size: 14px;">
						You have successfully submitted your <span class="coursename">@Model.CourseName</span> test!
					</div>
				</div>
			</div>
			<div data-ng-show="assessmentSubmitted && assessmentSubmittedWithErrors" class="quiz-intro-container" style="text-align: center;">
				<div style="font-size: 25px;">
					<div style="width: 100%; text-align: center; float: left;">
						<div class="glyphicon glyphicon-remove-sign submission-failed" aria-hidden="true">
						</div>
						<span style="margin-top: 10px; color: rgb(230, 13, 13);">Error!</span>
					</div>
					<div style="float: left; padding-top: 20px; width: 100%; font-size: 14px;">
						Something went wrong while submitting your <span class="coursename">@Model.CourseName</span> test.<br />
						Contact your mentor for re-assessment.
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="userAssessmentStatus == 'Submitted'">
			<div class="center-light-font">
				You have already submitted <span class="coursename">@Model.CourseName</span> test!
			</div>
		</div>
		<div data-ng-if="userAssessmentStatus == 'Started'">
			<div class="center-light-font">
				<span class="coursename">@Model.CourseName</span> test is already in progress.
			</div>
		</div>
	</div>

	<!--assessment question modal-->
	<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="saveQuestionModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 98%; min-width: 1080px;">
			<div class="modal-content question-container">
				<div class="modal-header">
					<div class="bootstrap-dialog-header">
						<div class="bootstrap-dialog-title">Assessment for <span style="font-weight: bold;">@Model.CourseName</span></div>
						<div id="timer">
							<span id="time-content"></span>
						</div>
					</div>
				</div>
				<form name="assessmentForm">
					<div class="modal-body">
						<div class="question_track">
							<div data-ng-repeat="question in assessmentQuestions">
								<div data-ng-click="scrollToQuestion($index+1)" style="width: 50%; padding: 10px 0; float: left; text-align: center;">
									<div data-ng-if="question.QuestionType == 'text'">
										<div class="question_list" data-ng-class="{question_list_dirty: assessmentForm['question' + question.QuestionId].$dirty, question_list_pristine: !assessmentForm['question' + question.QuestionId].$dirty}">
											<span >{{$index +1}}</span>
										</div>
									</div>
									<div data-ng-if="question.QuestionType == 'multiplechoice'">
										<div class="question_list" data-ng-class="{question_list_dirty: assessmentForm['formRadio' + question.QuestionId].$dirty, question_list_pristine: !assessmentForm['formRadio' + question.QuestionId].$dirty}">
											<span >{{$index +1}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- question panel-->
						<div class="questions-container">
							<ol>
								<li id="{{'question-' + ($index + 1)}}" data-ng-repeat="question in assessmentQuestions">
									<div data-ng-bind-html="question.QuestionTitle" class="question-description"></div>
									<div data-ng-if="question.QuestionType == 'text'">
										<textarea data-ng-model="questionResponses[question.QuestionId]" name="{{'question'+question.QuestionId}}"></textarea>
									</div>
									<div data-ng-if="question.QuestionType == 'multiplechoice'">
										<data-ng-form name="{{'formRadio' + question.QuestionId}}">
											<div class="question-detail-option" data-ng-repeat="option in question.Options">
												<input type="radio" name="{{'question' + question.QuestionId}}" value="{{option.OptionId}}" data-ng-model="questionResponses[question.QuestionId]" />
												{{option.OptionTitle}}
												<input type="hidden" class="option-id" value="{{option.OptionId}}" />
											</div>
										</data-ng-form>
									</div>
								</li>
							</ol>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" value="Submit" data-ng-click="submitTest()" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>